@import "tailwindcss";

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

button {
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.form {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
}
